.vscode/
APK/
Temp/
Library/
Client/LuaLib/
Logs/
UserSettings/
Client/Assets/Download/Audio/
Client/Assets/Resources/FMOD/
Client/Assets/AmplifyShaderEditor/
Client/Assets/Prefab Brush/
Client/Assets/Assets/Game/SixalloyWork/res/PBR_SciFi_Weapons/

Client/Assets/Game/SixalloyWork/res/AmplifyShaderEditor/
*.apk
*.stream
*.stream.meta
*.unitypackage
*.chat
*.chat.meta
*.build_info.txt
Client/.vsconfig
Client/fmod_editor.log
FMOD/.unsaved/
FMOD/Build/
FMOD/Metadata/
FMOD/.cache/
FMOD/.user/
--bin/
obj/
.vs/
内部文档/
Client/Assets/Game/SixalloyWork/res/AmplifyShaderEditor.meta
Client/Assets/AmplifyShaderEditor.meta
Public/Tables/ExcelTool.exe.lnk
Client/Assets/tripolygon
Client/Assets/MeshBaker
Client/Assets/MeshBaker.meta
Client/Assets/tripolygon.meta
Client/Assets/Game/SixalloyWork/Scene/lowpolyScene.meta
Public/Tables/ExcelTool.exe - 快捷方式.lnk
Client/Assets/StreamingAssets.meta
Client/Assets/unity-chan!/Unity-chan! Model.meta
Client/Assets/unity-chan!.meta

lfs/
hooks/
Client/AssetBundles/
Client/Assets/HQ Modern Furniture Pack/
Client/*.csproj
Client/*.sln
Client/Assets/StreamingAssets/build_info.txt
Client/Assets/MeshTerrainEditor/
Client/Assets/StreamingAssets/build_info.txt.meta
Server/GameServer/bin/Debug/
Server/AccountServer/bin/Debug/
Client/game_BurstDebugInformation_DoNotShip/
Client/testBuild

network.config
Client/Assets/AllIn1SpriteShader.meta
Client/Assets/AllIn1SpriteShader/2DRenderer-URP-Package.unitypackage.meta
Client/Assets/AllIn1SpriteShader/2DRenderer-URP-Package-2021.2+.unitypackage.meta
Client/Assets/BuildReport/Build Report Tool previous version (3.4.14).unitypackage.meta
Client/Assets/Art/Modle/Enviroment/风格化/火星场景正式/外景/Mountain.meta


数值文档/
CPUTest/
Client/Assets/AmplifyImpostors/Examples/SamplesHDRP.unitypackage.meta
Client/Assets/AmplifyImpostors/Examples/SamplesLWRP.unitypackage.meta
Client/Assets/AmplifyImpostors/Examples/SamplesURP.unitypackage.meta
Client/Assets/AmplifyImpostors/Plugins/EditorResources/RenderPipelinePackages/ImpostorsHDRP.unitypackage.meta
Client/Assets/AmplifyImpostors/Plugins/EditorResources/RenderPipelinePackages/ImpostorsLWRP.unitypackage.meta
Client/Assets/AmplifyImpostors/Plugins/EditorResources/RenderPipelinePackages/ImpostorsURP.unitypackage.meta
Client/Assets/AmplifyImpostors/Plugins/EditorResources/RenderPipelinePackages/Legacy/ImpostorsHDRP 9xx (Legacy).unitypackage.meta

Client/Packages/AlipayEasySDK.*/
Client/Packages/AlipaySDKNet.*/
Client/Packages/BouncyCastle.*/
Client/Packages/Google.Protobuf.*/
Client/Packages/K4os.Compression.LZ4.*/
Client/Packages/K4os.Hash.xxHash.*/
Client/Packages/log4net.*/
Client/Packages/Microsoft.Bcl.*/
Client/Packages/Microsoft.Net.Http.*/
Client/Packages/MySql.Data.*/
Client/Packages/Newtonsoft.Json.*/
Client/Packages/Portable.BouncyCastle.*/
Client/Packages/System.Buffers.*/
Client/Packages/System.Data.DataSetExtensions.*/
Client/Packages/System.Memory.*/
Client/Packages/System.Numerics.Vectors.*/
Client/Packages/System.Runtime.CompilerServices.Unsafe.*/
Client/Packages/System.Text.Encodings.Web.*/
Client/Packages/System.Text.Json.*/
Client/Packages/System.Threading.Tasks.Extensions.*/
Client/Packages/System.ValueTuple.*/
Client/Packages/Tea.*/
*.blend2
*.blend3
*.blend1
